<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/styles.css">
    <title>Editar</title>
</head>
<%- include('./partials/headerAdmin.ejs')%>
<body>

    <div class="box">
   <form  class="list-group" action="/turnos/turnos_list/<%=caja.id%>?_method=PUT" method="POST"  enctype="application/x-www-form-urlencoded">

    <ul id="errores">
                        </ul>                   

                          <label>Codigo:</label>
                          <input class="item" value="<%= caja.code %>" name="code" id="code" data-nombre="code">

                          <label>Caja:</label>
                          <input class="item" value="<%= caja.box %>" name="box" id="box" data-nombre="box">

                          <div class="switch-field">
		<input type="radio" id="radio-one" name="condition" data-nombre="condition" value="1" checked/>
		<label for="radio-one">Llamar</label>
		<input type="radio" id="radio-two" name="condition" data-nombre="condition" value="0" />
		<label for="radio-two">Pendiente</label>
	                      </div>
                       


                        <div class="button-edit" >
                            <button type="submit">Llamar</button>
                        </div>
                    </section>

                </form>
    </div>
                     <form  class="list-group" action="/turnos/turnos_delete/<%=caja.id%>?_method=DELETE" method="POST"  enctype="application/x-www-form-urlencoded">
                        <button class="button-edit" type="submit">Borrar Turno</button>
                    </form>
 
                    <script src="/js/turnoValidation.js"></script>

</body>
</html>