<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Editar</title>
</head>
 <%- include('./partials/header.ejs')%>
<body>

    <div class="view-edit">
   <form  class="" action="/turnos/turnos_list/<%=caja.id%>?_method=PUT" method="POST"  enctype="application/x-www-form-urlencoded">
 <h1>Editar</h1>
    <ul id="errores">
                        </ul>                   

                          Codigo:
                          <input class="campos" value="<%= caja.code %>" name="code" id="code" data-nombre="code">

                          Caja:
                          <input class="campos" value="<%= caja.box %>" name="box" id="box" data-nombre="box">

                          <div class="">
		<input type="radio" id="radio-one" name="condition" data-nombre="condition" value="1" checked/>
		<label for="radio-one">Llamar</label>
		<input type="radio" id="radio-two" name="condition" data-nombre="condition" value="0" />
		<label for="radio-two">Pendiente</label>
	                      </div>
                       

                       
                            <button class="buttom-group" type="submit">Editar</button>
                       

                     </form>
    
                     <form action="/turnos/turnos_delete/<%=caja.id%>?_method=DELETE" method="POST"  enctype="application/x-www-form-urlencoded">
                        <button class="buttom-group" type="submit">Borrar Turno</button>
                     
                    </form>
                        </div>

                          
                            
 
                    <script src="/js/turnoValidation.js"></script>

</body>
<%- include('./partials/footer.ejs')%>
</html>