<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="/css/styles.css">
    <title>TurnosDH</title>
  </head>
  
    <%- include('./partials/headerAdmin.ejs')%>

    <h2>Crear Turno</h2>
<form class="boxlist" action="listado" method="POST" enctype="application/x-www-form-urlencoded">

 <div class="list-group">
  <label><b>Codigo</b></label>
 <input type="text" name="code" data-nombre="code">
 
 <% if (locals && locals.mensajeError) { %>
 <% for ( let error in mensajeError ) { %>
                                <p class="error-msg">
                                    <%= mensajeError[errors].msg %>
                                </p>
                                <% } %>
                              <% } %>
 
<div>
 <label><b>Caja:</b></label>
 </div>

  <input type="radio" name="box" data-nombre="box" value="1">Caja 1<br>
  <input type="radio" name="box" data-nombre="box" value="2">Caja 2<br>
  <input type="radio" name="box" data-nombre="box" value="3">Caja 3<br>
 
</div>

 <button class="button-edit" type="submit">Insertar</button>
</form>

    <div>
<h1>Lista de Turnos</h1>
  </div>
   <div class="boxlist">
    <% for( let i = 0; i < caja.length; i++ ) { %>
                    <ul class="list-group">                    
                            <li class="list-group-item"><%= caja[i].code %> - Caja <%= caja[i].box %>
                            </li>
                            <a href="editar/<%= caja[i].id %> ">
                                    <button>Editar</button>
                                </a>
                    </ul>                                           
                <% } %>
   </div> 
 <body>



</div>
  
  

  </body>
</html>


