<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="/css/styles.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>TurnosDH</title>
  </head>
  
    <%- include('./partials/headerAdmin.ejs')%>
    <div>
<h2>Lista de Turnos</h2>
  </div>
   <div class="boxlist">
    <% for( let i = 0; i < caja.length; i++ ) { %>
                    <ul class="list-group">                    
                            <li class="list-group-item"><%= caja[i].code %> - Caja <%= caja[i].box %>
                            </li>                                                        
                    </ul>        
                    <a href="turnos_edit/<%= caja[i].id %> ">
                                    <button class="button-edit">Llamar turno</button>
                                </a>                                   
                <% } %>
   </div> 
 
    <h2>Crear Turno</h2>
<form class="boxlist" action="listado" method="POST" enctype="application/x-www-form-urlencoded">

 <div class="list-group">
  <label><b>Codigo:</b></label>

  <ul id="errores">
                        </ul>
  
 <input type="text" name="code" id="code" data-nombre="code">
 
 <% if (locals && locals.mensajeError) { %>
 <% for ( let error in mensajeError ) { %>
                                <p class="error-msg">
                                    <%= mensajeError[errors].msg %>
                                </p>
                                <% } %>
                              <% } %>
 
<div>
 <label><b>Caja:</b></label>
 </div>

  <input type="radio" name="box" data-nombre="box" value="1">Caja 1<br>
  <input type="radio" name="box" data-nombre="box" value="2">Caja 2<br>
  <input type="radio" name="box" data-nombre="box" value="3">Caja 3<br>
  
  <input type="hidden" name="condition" data-nombre="condition" value="0" />
		
	

</div>

 <button class="button-edit" type="submit">Insertar</button>
</form>

    <div>
<h1>Lista de Turnos</h1>
  </div>
   <div class="boxlist">
    <% for( let i = 0; i < caja.length; i++) { %>
                    <ul class="list-group">                    
                            <li class="list-group-item"><%= caja[i].code %> - Caja <%= caja[i].box %>
                            </li>                                                        
                    </ul>        
                    <a href="turnos_edit/<%= caja[i].id %> ">
                                    <button class="button-edit">Llamar turno</button>
                                </a>                                   
                <% } %>
   </div> 
   lenght
 

<script src="/js/turnoValidation.js"></script>

</div>
  
  

 
</html>