<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="120">
    <title>TurnosDH</title>
    
     <%- include('./partials/header.ejs')%>
</head>
<body>

  <div class="contenido-general">

<section class="content">

  <article class="image-container">
    
  <img src="img/paisaje.jpg" alt="">

  <div class="hora">
    <p id="fecha"></p>
    <div class="tiempo">
    <p class="horario" id="reloj"></p>
    <i class="bi bi-cloud-sun"></i>
    <p class="temperatura" id="temperatura"></p>
    </div>
  </div>
   
  </article>

<script>

   const fechaActual = new Date();

    const dia = fechaActual.getDate();
    const nombresSemana = ['domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado'];
    const semana = nombresSemana[fechaActual.getDay()];
    const nombresMeses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];
    const mes = nombresMeses[fechaActual.getMonth()];
    const anio = fechaActual.getFullYear();

    const elementoFecha = document.getElementById('fecha');
    elementoFecha.textContent = `${semana}. ${dia} de ${mes} ${anio}`;

    function mostrarHora() {

  var fecha = new Date();
  var hora = fecha.getHours();
  var minutos = fecha.getMinutes();
  minutos = (minutos < 10 ? "0" : "") + minutos;
  hora = (hora < 10 ? "0" : "") + hora;
  var horaActual = hora + ":" + minutos;
  document.getElementById("reloj").innerHTML = horaActual;
  setTimeout(mostrarHora, 1000);
}

// Inicia la función para mostrar la hora
mostrarHora();

  </script>

</section>

<div class="caja-principal">
  <div class="title">

    <h1>TURNO - CAJA</h1>
    
  </div>

  <% for( let i = 0; i < caja.length; i++) { %>
<div class="boxlist" >

 <% if (caja[i].condition == 1) { %>
 <li class="list-group-item"><%= caja[i].code %> - Caja <%= caja[i].box %>

</div>

<div>

<%} else { %>
<li class="list-group-item"><%= caja[i].code %> - Caja <%= caja[i].box %>
<% } %>

</div>   
  <% } %>
</div>

</div>

<footer>
<h1></h1>
</footer>


 <script src="/js/main.js"></script>

</body>


</html>