<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="120">
    <title>TURNOS-DH</title>
    
     <%- include('./partials/header.ejs')%>
</head>
<body>

  <div class="contenido-general">

<section class="content">

  <article class="article">
    
  <img src="img/paisaje.jpg" alt="">
  
    <p id="fecha"></p>
    <p id="hora"></p>
    <p id="temperatura"></p>
  </article>

<script>

   const fechaActual = new Date();
    const dia = fechaActual.getDate();
    const nombresSemana = ['domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado'];
    const semana = nombresSemana[fechaActual.getDay()];
    const nombresMeses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];
    const mes = nombresMeses[fechaActual.getMonth()];
    const anio = fechaActual.getFullYear();
    const hora = fechaActual.getHours();
    const minutos = fechaActual.getMinutes();
    const segundos = fechaActual.getSeconds();

    const elementoFecha = document.getElementById('fecha');
    elementoFecha.textContent = `${semana}. ${dia} de ${mes} ${anio}`;

    const elementoHora = document.getElementById('hora');
    elementoHora.textContent = `${hora}:${minutos}:${segundos}`;
  </script>

</section>

<div class="caja-principal">
  <div class="titulos">

    <h1>TURNO  CAJA</h1>

  </div>

  <% for( let i = 0; i < caja.length; i++) { %>
<div class="boxlist" >

 <% if (caja[i].condition == 1) { %>
 <li class="list-group-item"><%= caja[i].code %> - Caja <%= caja[i].box %>

</div>

<div>

<%} else { %>
<li class="list-group-item"><%= caja[i].code %> - Caja <%= caja[i].box %>
<% } %>

</div>   
  <% } %>
</div>

</div>

<footer>
<h1></h1>
</footer>


 <script src="/js/main.js"></script>

</body>


</html>