<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="120">
    <title>TURNOS-DH</title>
    
     <%- include('./partials/header.ejs')%>
</head>
<body>

  <div class="contenido-general">

<section class="content">

  <article class="article">

  <img src="img/paisaje.jpg" alt="" height="700px">
  
  </article>

</section>

<div class="caja-principal">
  <div class="titulos">

    <h1>TURNO  CAJA</h1>

  </div>

  <% for( let i = 0; i < caja.length; i++) { %>
<div class="boxlist" >

 <% if (caja[i].condition == 1) { %>
 <li class="list-group-item"><%= caja[i].code %> - Caja <%= caja[i].box %>

</div>

<div>

<%} else { %>
<li class="list-group-item"><%= caja[i].code %> - Caja <%= caja[i].box %>
<% } %>

</div>   
  <% } %>
</div>

</div>

<footer>
<h1></h1>
</footer>

</body>




<script src="/js/mainController.js"></script>
</html>